# Support Vector Machine

#### PACOTE(S):

In [1]:
import numpy as np
import pandas as pd
import time as time
import pickle as pkl
from funcoes import svm, r_quadrado
import winsound as winsound
import warnings as warnings
warnings.filterwarnings("ignore")

In [2]:
# tempo_inicio: tempo de início da execução do código (processo)
tempo_inicio = time.time()
# tempo_inicio: tempo de início da execução do código (processo de cálculo, CPU)
tempo_inicio_CPU = time.perf_counter()

#### CARREGAMENTO, ARMAZENAMENTO E MANIPULAÇÃO DE DADOS:

##### O banco de dados deve estar estruturado da seguinte forma:
    1. A primeira coluna deve ser a de nomeação/identificação das lições;
    2. As colunas seguintes, exceto a última, devem ser as variáveis do problema;
    3. A última coluna deve ser classificada com valores binários, por exemplo, - 1 (menos um) ou + 1 (mais um), de preferência valores numéricamente "distantes" (- 100 e + 100, por exemplo).

In [3]:
# Carregamento:

# Arquivo Original:
# endereco: endereco do banco de dados
endereco = "banco_de_dados/Banco_de_Dados_Desjuntado_em_G_e_H.xlsm" 

# banco_de_dados: variável que armazena o banco de dados
banco_de_dados = pd.read_excel(endereco, 
                               sheet_name=0)

banco_de_dados.head()

,Lição,CEP do medidor\ndo contratante,Relativo ao\ndesemprego no CEP,Relativo ao\neconômico no CEP,Duração do\ncontrato analisado,Valor da\nconta atual,Valor da\nconta anterior,Valor da\nconta média\n(4 meses),Desvio\npadrão,Taxa de evolução:\nX05/X06,Número de atrasos\nde pagamentos,Honesto
0,1,1,1.5,1,3,4,3,3.0,0.2,1.3,0,100
1,2,2,1.7,2,4,5,4,4.5,0.1,1.2,1,100
2,3,1,1.8,2,5,4,3,3.0,0.4,2.0,0,100
3,4,3,1.5,1,4,8,6,6.0,0.3,1.3,1,100
4,5,2,1.7,3,6,6,6,7.0,0.2,1.0,0,100

In [4]:
type(banco_de_dados)

pandas.core.frame.DataFrame

In [5]:
# Manipulação dos Dados:

"""
bd_auxiliar: banco de dados auxiliar, cópia do primeiro armazenamento, para
NÃO alterar o primeiro, caso seja necessário utilizá-lo posteriormente 
no código.
"""
bd_auxiliar = banco_de_dados.copy()

#### VARIÁVEL(IS):

In [6]:
# valor_c: coeficiente de ajuste 
valor_c = 1
# input("Inserir o valor desejado para o coeficiente " + 
# "de ajuste 'c':")

In [7]:
print("O valor do 'Coeficiente de Ajuste' é = " + str(valor_c))

O valor do 'Coeficiente de Ajuste' é = 1

#### CÁLCULO(S):

In [8]:
# Remover a primeira coluna:
bd_auxiliar = bd_auxiliar.drop([bd_auxiliar.columns[0]], 
                               axis=1)
bd_auxiliar.head()

,CEP do medidor\ndo contratante,Relativo ao\ndesemprego no CEP,Relativo ao\neconômico no CEP,Duração do\ncontrato analisado,Valor da\nconta atual,Valor da\nconta anterior,Valor da\nconta média\n(4 meses),Desvio\npadrão,Taxa de evolução:\nX05/X06,Número de atrasos\nde pagamentos,Honesto
0,1,1.5,1,3,4,3,3.0,0.2,1.3,0,100
1,2,1.7,2,4,5,4,4.5,0.1,1.2,1,100
2,1,1.8,2,5,4,3,3.0,0.4,2.0,0,100
3,3,1.5,1,4,8,6,6.0,0.3,1.3,1,100
4,2,1.7,3,6,6,6,7.0,0.2,1.0,0,100

In [9]:
"""
Os objetos estão sendo salvos para NÃO ter que
executar todo o código novamente, simplesmente
para executar uma function ou fazer um servidor
ler o arquivo.
"""

# Escrever o arquivo pickle:
# :param protocol=4: possibilitar carregar objetos com mais de 4 GB. 
pkl.dump([bd_auxiliar,
         valor_c],
        open("pickles/objetos_svm.pkl", "wb"),
        protocol=4)

In [10]:
[B, valores, vector_solucao, soma_vector_C] = svm.svm(bd_auxiliar, 
                                                      valor_c,
                                                      tolerancia=0.1)

In [11]:
# Verificação apenas dos valores do banco de dados que foi gerada a soloção
pd.DataFrame(valores)

     0    1    2    3    4    5    6    7    8    9
0  1.0  1.5  1.0  3.0  4.0  3.0  3.0  0.2  1.3  0.0
1  2.0  1.7  2.0  4.0  5.0  4.0  4.5  0.1  1.2  1.0
2  1.0  1.8  2.0  5.0  4.0  3.0  3.0  0.4  2.0  0.0
3  3.0  1.5  1.0  4.0  8.0  6.0  6.0  0.3  1.3  1.0
4  2.0  1.7  3.0  6.0  6.0  6.0  7.0  0.2  1.0  0.0
5  4.0  2.5  5.0  1.0  3.0  5.0  6.0  0.8  0.6  0.0
6  5.0  3.5  4.0  1.0  4.0  6.0  5.0  0.9  0.6  1.0
7  5.0  2.5  6.0  2.0  3.0  8.0  7.0  0.7  0.3  2.0
8  6.0  4.5  7.0  2.0  2.0  9.0  8.0  0.8  0.2  0.0
9  7.0  3.5  8.0  1.0  6.0  8.0  8.0  0.9  0.7  2.0

In [12]:
print("Coeficientes de ajuste")
pd.DataFrame(vector_solucao)

Coeficientes de ajuste

            0
0  -39.234813
1   28.171192
2    3.485121
3   -9.962345
4   15.668945
5   17.767589
6   -2.164696
7 -187.144825
8   64.881681
9   -2.338006

In [13]:
# soma_vector_C = Coeficiente linear da Solução do modelo
print("Coeficiente Linear", soma_vector_C)

Coeficiente Linear -33.02173957667509

#### Resultado(s):

In [14]:
y_teo = np.zeros(len(B))
for i in range(0, valores.shape[0], 1):
    y_teo[i] = np.matmul(valores[i], vector_solucao) + soma_vector_C
y_teo = np.where(y_teo > 0, 100, -100)
"""
A linha acima foi inserida para alterar as saídas positivas para +100 e as 
negativas para -100. Esta ação foi tomada para que o modelo possa entregar as 
respostas com apenas duas características. Os valores +100 e -100 foram 
escolhidos para que as duas saídas fiquem "distantes" o suficiente para o 
modelo poder decidir com mais facilidade as lições que sejam mais indefinidas.
"""
pd.DataFrame(y_teo)

     0
0  100
1  100
2  100
3  100
4  100
5 -100
6 -100
7 -100
8 -100
9 -100

In [15]:
# Ler o arquivo gerado:
pkl.dump([B,
         y_teo],
        open("pickles/objetos_r_quadrado.pkl", "wb"),
        protocol=4)

In [17]:
# R_quadrado: coeficiente de Acerto/Determinação
R_quadrado = r_quadrado.r_quadrado(B, y_teo)
print("R² =", R_quadrado * 100, "%")

R² = 100.0 %

In [ ]:
# Especificar a frequência do sinal sonoro que deverá ser emitido:
frequencia = 1500 # (Hertz)

# Especificar a duração do sinal sonoro que deverá ser emitido:
duracao = 1000 # (Mili-Segundos)

winsound.Beep(frequencia, duracao) # Emitir sinal sonoro

In [ ]:
"""
Calcular e armazenar o tempo de execução
"""
tempo_fim = time.time() - tempo_inicio
print("---")
print("O tempo de execução da aplicação é =",
     round(tempo_fim, 2), "s")

In [ ]:
tempo_fim_CPU = time.clock() - tempo_inicio_CPU
print("O tempo de execução da aplicação é",
     round(tempo_fim_CPU, 2), "s")